header{
    padding: auto;
    border-bottom: 1px solid;
}

a:hover{
    background-color: bisque;
}
.container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #df6868;
}
a.logo{
    font-weight: bold;
    display: inline-block;

}
nav ul{
    list-style-type: none;
    margin: auto;
}
nav ul li{
    padding: 1em;
    display: inline-block;
}